<div class="container-fluid">
  <div class="row index-navbar">
    <div class="col-6 logo">LOGO IMAGE</div>
    <div class="col-6">
      {{#if user}}
      <a href="/auth/logout" class="log-button">LOGOUT</a>
      <a href="/dashboard" class="log-button">DASHBOARD</a>
      <a href="/user" class="log-button">USER PANEL</a>
      {{else}}
      <a href="/auth/signup" class="log-button">REQUEST ACCESS</a>
      <a href="/auth/login" class="log-button">LOGIN</a>
      {{/if}}
    </div>
  </div>
  <div class="row index-main align-items-center">
    <div class="col index-main">
      <h1>DOOM CORP</h1>
      <p>Welcome to {{title}}</p>
    </div>
  </div>
</div>