// HELPERS
* {
    margin: 0;
    padding: 0;
    color: red;
}

.red-text {
    color: red;
}

// IDs
#map {
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

#menu1 {
    background: red;
}

#shoot-btn {
    background: red;
}

// HTML TAGS
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
}

a {
    color: #00B7FF;
}

.index-navbar {
    background-color: red;
    height: 60px;
}

.index-main {
    color: red;
}

.log-button {
    padding: 5px 15px;
    border: 2px solid black;
    background-color: red;
}

.sign-up-container {
    width: 20%;
    margin-top: 20%;
}

// PROFILE
.profile-container {
    width: 100%;
}

.profile-top-row {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px;
    border-bottom: 2px solid white;
}

.profile-left-panel {
    
    height: 600px;
    border-right: 2px solid white;
}

<<<<<<< HEAD
// DASHBOARD

.dashboard-main-content-wrapper {
    margin-top: 40px;
}
=======
/*
#type-selector {
    display: none;
}*/
>>>>>>> tanis
